*{
  box-sizing: border-box;
}
body{
  margin: 0;
}

.left{
  background-color: #4A90E2;
  width: 33%;
  height: 100vh;
  float: left;

}
.middle{
  background-color: #50E3C2;
  width: 34%;
  height: 100vh;
  float: left;
}
.right{
  background-color: #B8E986;
  float: right;
  width: 33%;
  height: 100vh;
}
.hold{
  width: 100%;
  height: 25vh;
  background-color: red;
  float: right;
  margin-top: 75vh;
}
p{
  text-align: center;
  padding-top: 75px;
}
