*{
  box-sizing: border-box;
}
header{
  height: 125px;
  background-color: #444444;

}
.div{
  background-color: #EFEFEF;
  width: 70%;
  height: 600px;
  margin: auto;
}
body{
  margin: 0;
  background-color: #D8D8D8;
}
footer{
  background-color: #000;
  height: 75px;
  width: 70%;
  margin: auto;
}
